@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Cairo, sans-serif;
  font-size: 20px !important;
}
.toggle-mood {
  cursor: pointer;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*[type="text"]:focus,*/
/*[type="email"]:focus,*/
/*[type="url"]:focus,*/
/*[type="password"]:focus,*/
/*[type="number"]:focus,*/
/*[type="date"]:focus,*/
/*[type="datetime-local"]:focus,*/
/*[type="month"]:focus,*/
/*[type="search"]:focus,*/
/*[type="tel"]:focus,*/
/*[type="time"]:focus,*/
/*[type="week"]:focus,*/
/*[multiple]:focus,*/
/*textarea:focus,*/
/*select:focus {*/
/*  outline: none;*/
/*  border-color: #f66d3b;*/
/*  box-shadow: 0 0 0 3px rgba(246, 109, 59, 0.5);*/
/*}*/
